:root {
  --beje: #e7e1d3;
  --light-rose: #e9b094;
  --black: #32312e;
}
.App {
  background-color: var(--beje);
  width: 80%;
  height: fit-content;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-box-shadow: 10px 9px 2px 1px var(--black);
  -moz-box-shadow: 10px 9px 2px 1px var(--black);
  box-shadow: 10px 9px 2px 1px var(--black);
  border: 3px solid var(--black);
  margin-top: 100px;
  margin-bottom: 100px;
}
.title {
  color: var(--black);
  border-bottom: 3px solid var(--black);
  padding: 10px;
  padding-left: 40px;
}
body {
  background-color: var(--light-rose);
  color: var(--black);
}
.fa-circle {
  font-size: 25px;
  margin-left: 20px;
}
.icon {
  margin-left: 630px;
}
@media (max-width: 800px) {
  .icon {
    margin-left: 200px;
  }

  .fa-circle {
    font-size: 20px;
    margin-left: 10px;
  }

  .App {
    width: 90%;
    height: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 4px 2px 1px 1px var(--black);
  }
}
