:root {
  --beje: #e7e1d3;
  --light-rose: #e9b094;
  --black: #32312e;
}
.search-engine {
  text-align: center;
  padding: 80px;
}

footer {
  padding-top: 100px;
}
.search-engine input {
  border: 3px solid var(--black);
  border-radius: 13px;
  height: 40px;
  width: 400px;
  background-color: var(--light-rose);
  color: var(--black);
  font-size: 25px;
  margin-bottom: 50px;
}
.user-input {
  text-align: left;
  padding: 5px;
  text-transform: capitalize;
  font-size: 30px;
  -webkit-box-shadow: 10px 9px 2px 1px var(--black);
  -moz-box-shadow: 10px 9px 2px 1px var(--black);
  box-shadow: 10px 9px 2px 1px var(--black);
  border: 3px solid var(--black);
  width: 180px;
  border-radius: 13px;
}
.audio {
  text-align: left;
  padding-bottom: 5px;
  font-size: 20px;
}
h3 {
  font-size: 20px;
  text-align: center;
  border: 3px solid var(--black);
  width: 150px;
  border-radius: 13px;
  display: block;
  margin: 0 auto;
  padding: 7px;
  background-color: var(--light-rose);
  margin-bottom: 20px;
}
.meaning {
  text-align: left;

  margin-bottom: 20px;
}
.definitions,
.example {
  text-align: left;
  padding-left: 20px;
  font-size: 22px;
  padding: 0;
}
ul {
  list-style-type: none;
}
.synonym-list {
  border: 3px solid var(--black);
  padding: 10px;
  margin-left: 30px;
  background-color: var(--light-rose);
  border-radius: 13px;
}

.synonyms span {
  display: inline-block;
  margin-bottom: 10px;
}
.synonym-title {
  border: 3px solid var(--black);
  padding: 10px;
  border-radius: 13px;
  background-color: var(--light-rose);
  padding-right: 13px;
}
.example {
  font-weight: 700;
  font-size: 17px;
}
p.invalid {
  font-size: 50px;
}
@media (max-width: 800px) {
  .search-engine input {
    height: 30px;
    width: 200px;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 50px;
  }
  .audio {
    display: none;
  }
  .user-input {
    display: none;
  }

  h3 {
    font-size: 15px;
    text-align: left;
    width: fit-content;
    border-radius: 13px;
    margin-bottom: 20px;
  }
  .search-engine {
    width: fit-content;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  .meaning {
    border: 3px solid var(--black);
    border-radius: 13px;
    background-color: var(--black);
    color: #e7e1d3;
  }
  .definitions {
    text-align: center;
    font-size: 20px;
  }
  .example {
    text-align: left;
    font-size: 15px;
  }
  h3 {
    font-size: 20px;
    text-align: center;
    border: 3px solid var(--black);
    width: max-content;
    display: block;
    margin: 0 auto;
    padding: 7px;
    background-color: var(--beje);
    margin-bottom: 20px;
    color: var(--black);
  }
}
